.banner {
    background-color: #8a9df3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: dark;
    border-radius: 5px;
    margin: .5vh;
    
    
}

.banner__logo {
    max-width: 8rem;
    max-height: 8rem;
}
.banner__logo__right {
    margin-left: auto;
    
}
.banner__title {
    margin: 1em;
    font-size: xx-large;
}