.locationList {
    background-color: mediumaquamarine;
    border-radius: 5px;
    padding: 1em;
}

.location {
    background-color: mediumseagreen;
    margin: 2em 0 0 2em;
    padding: 1em;
    border-radius: 5px;
}


.location__picture {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 5px;

}