@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";

html {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    margin: .2vh .1vw .2vh .1vw;
}

.container h3 {
    /* margin-left: 2em; */
    margin: .5vh 1vw .5vh 1vw;
}
.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
   
    
}

.underTheBanner__right {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
}