@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";

html {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    margin: .2vh .1vw .2vh .1vw;
}

.container h3 {
    /* margin-left: 2em; */
    margin: .5vh 1vw .5vh 1vw;
}
.underTheBanner {
    display: flex;
    flex-direction: row;
}

.hidden {
    display:none;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.underTheBanner__right {
    flex: 1;
}

.page__img__right {
    
    
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20% 100%;

}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.typeChoice, .toggleTips, .toggleFish, .toggleLocations {
    border-radius: 5em;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: lavender ;
}

